.mainHeader {
    margin-left: 110px;
    font-size: 30px;
    font-weight: bold;
}

.mainHeader:hover {
    color: #000;
}

.ip-input {
    margin-top: 50px;
    border-radius: 5px;
}

.ip-input:focus {
    border: 1px solid #fff;
    background-color: #203097;
    opacity: 0.8;
    color: #fff;
    font-weight: 600;
}

.ipLabel, .portLabel {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}