<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/" method="post">
        <label for="Ip Address: " style="color: red; display: block; font-weight: bold"> Ip Address: </label>
        <input type="text" name="ipAddress" required> <br/>
        <label for="port" style="color: red; display: block; font-weight: bold"> Port: </label>
        <input type="text" name="port" required> <br/>
        <label for="loopCounter" style="color: red; display: block; font-weight: bold"> Loop Counter: </label>
        <input type="text" name="loop_counter" required> <br/>
        <label for="loopCounter" style="color: red; display: block; font-weight: bold"> Port: </label>
        <input type="text" name="payload" required> <br/>
        <button type="submit">SEND</button> <br/>
    </form>
</body>
</html>